[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/plog"]
	path = thirdparty/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "thirdparty/stb-cmake"]
	path = thirdparty/stb-cmake
	url = https://github.com/gracicot/stb-cmake.git
